@import "tailwindcss";

details summary {
	cursor: pointer;
	transition: margin 150ms ease-out;
}

details[open] summary {
	margin-bottom: 10px;
}

.token.comment {
	color: rgb(139 148 158);
}

.token.atrule {
	color: rgb(255 123 114);
}

.token.string {
	color: rgb(121 192 255);
}

.token.number {
	color: rgb(126 231 135);
}

.token.tag {
	color: rgb(126 231 135);
}

.token.important {
	color: rgb(201 209 217);
}

.token.punctuation {
	color: rgb(72 79 88);
}
